{{ define "main" }}
<div class="vg-categories">
  <div class="vg-categories-list">
    {{ range .Pages }}
    <a href="javascript:void(0);" class="vg-categories-row" data-target="{{ .Name }}">
      <div class="vg-categories-row__icon">
        {{ with resources.GetMatch "icons/menu.svg" }}
        {{ .Content | safeHTML }}
        {{ end }}
      </div>

      <div class="vg-categories-row__title">{{ .Name }}</div>
    </a>

    <div class="vg-posts-list">
      {{ range .Pages }}
      {{ partial "post.html" (dict "post" . "hideCategory" true) }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
