{{ define "main" }}
{{ $eventPosition := default "none" .Site.Params.homeEventPosition }}
<div class="vg-home">
  <div class="vg-home-center vg-home-center_top{{ if ne $eventPosition "top" }} vg-home-center_without-event{{ end }}">
    <div class="vg-home-center__logo">
      {{ with resources.Get "home-logo-top.png" }}
      {{ $width := string (div .Width 2) }}
      {{ $image := .Resize (delimit (slice $width "x") "") }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ .RelPermalink }} 2x" />
      {{ end }}
    </div>

    {{ if eq $eventPosition "top" }}
    <div class="vg-home-center__content">
      {{ partial "home/home-social.html" . }}
    </div>
    {{ end }}
  </div>

  <div class="vg-home-center vg-home-center_bottom">
    {{ if eq $eventPosition "bottom" }}
    <div class="vg-home-center__content">
      {{ partial "home/home-social.html" . }}
    </div>
    {{ end }}

    <div class="vg-home-center__content">
      {{ partial "home/home-blog-link.html" . }}
    </div>

    {{ if ne $eventPosition "bottom" }}
    {{ with resources.Get "home-logo-bottom.png" }}
    <div class="vg-home-center__logo">
      {{ $width := string (div .Width 2) }}
      {{ $image := .Resize (delimit (slice $width "x") "") }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ .RelPermalink }} 2x" />      
    </div>
    {{ end }}
    {{ end }}
  </div>

  <div class="vg-home__content">
    {{ .Content }}
  </div>
</div>
{{ end }}
