{{ define "main" }}
<div class="vg-home">
  <div class="vg-home-center vg-home-center_top{{ if not .Site.Params.homeEventEnabled }} vg-home-center_single{{ end }}">
    <div class="vg-home-center__logo">
      {{ with resources.Get "home-logo-top.png" }}
      {{ $width := string (div .Width 2) }}
      {{ $image := .Resize (delimit (slice $width "x") "") }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ .RelPermalink }} 2x" />
      {{ end }}
    </div>

    {{ if .Site.Params.homeEventEnabled }}
    <div class="vg-home-center__content">
      {{ partial "home/home-social.html" . }}
    </div>
    {{ end }}
  </div>

  <div class="vg-home-center vg-home-center_bottom">
    <div class="vg-home-center__content">
      {{ partial "home/home-blog-link.html" . }}
    </div>

    <div class="vg-home-center__logo">
      {{ with resources.Get "home-logo-bottom.png" }}
      {{ $width := string (div .Width 2) }}
      {{ $image := .Resize (delimit (slice $width "x") "") }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ .RelPermalink }} 2x" />
      {{ end }}
    </div>
  </div>

  <div class="vg-home__content">
    {{ .Content }}
  </div>
</div>
{{ end }}
