<header class="vg-header{{ if .IsHome }} vg-header_home{{ end }}">
  <div class="vg-header__logo">
    <a href="{{ .Site.BaseURL }}">
      {{ $imageOrig := resources.Get "logo.png" }}
      {{ $image2x := $imageOrig.Resize "320x" }}
      {{ $image := $imageOrig.Resize "160x" }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ $image2x.RelPermalink }} 2x" />
    </a>
  </div>

  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}

  <a href="javascript:void();" class="vg-hamburger">
    <div class="vg-hamburger__box">
      <div class="vg-hamburger__line"></div>
      <div class="vg-hamburger__line"></div>
      <div class="vg-hamburger__line"></div>
    </div>
  </a>
</header>
