<div class="vg-sidebar{{ if .IsHome }} vg-sidebar_home{{ end }}">
  <div class="vg-sidebar-main">
    <div class="vg-sidebar__menu">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>

    <div class="vg-sidebar__logo">
      {{ with resources.Get "logo-sidebar.png" }}
      {{ $width := string (div .Width 2) }}
      {{ $image := .Resize (delimit (slice $width "x") "") }}
      <img src="{{ $image.RelPermalink }}"
           srcset="{{ .RelPermalink }} 2x" />
      {{ end }}
    </div>

    <div class="vg-sidebar__about">
      {{ .Site.Params.description | safeHTML }}
    </div>

    <div class="vg-sidebar-tags">
      {{ range .Site.Taxonomies.tags.ByCount }}
      <a class="vg-sidebar-tags__tag" href="{{ printf "tags/?tags=%s" .Name | relURL }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>

  <div class="vg-sidebar-footer">
    {{ partial "social.html" . }}
  </div>
</div>
